In [2]:
import numpy as np

In [3]:
import pandas as pd

In [12]:
myIndex=['USA', 'Canada', 'Mexico']

In [13]:
myData=[1776, 1867, 1821]

In [14]:
myser=pd.Series(data=myData)

In [15]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [16]:
myser=pd.Series(data=myData, index=myIndex)

In [17]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [19]:
myser[0]

1776

In [20]:
myser['USA']

1776

In [29]:
sales_q1=pd.Series({
    "Brazil" : 500, 
    "India" : 1000,
    "China" : 50,
    "USA" : 1000
})

In [30]:
sales_q2=pd.Series({
    "Japan" : 800, 
    "India" : 1500,
    "China" : 250,
    "USA" : 1125
})

In [31]:
sales_q1

Brazil     500
India     1000
China       50
USA       1000
dtype: int64

In [38]:
sales_q2

Japan     800
India    1500
China     250
USA      1125
dtype: int64

### When we add both sales using pythons way

In [39]:
sales_q1+sales_q2

Brazil       NaN
China      300.0
India     2500.0
Japan        NaN
USA       2125.0
dtype: float64

#### These values are NaN because they are not present in both.

### Using pandas's way of Add.

In [37]:
sales_q1.add(sales_q2, fill_value=0)

Brazil     500.0
China      300.0
India     2500.0
Japan      800.0
USA       2125.0
dtype: float64

#### fill_value will be given if we encounter key which is not present on other Series.