In [6]:
import numpy as np
import pandas as pd

In [7]:
email='ayush@email.com'
email.split('@')

['ayush', 'email.com']

In [9]:
names=pd.Series([
    'andrew', 'bobo', 'claire', 'david', '5'
])
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [14]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [22]:
tech_finance=['GOOG,APPL,AMZN', 'JPM,BAC,GS']
len(tech_finance)

2

In [23]:
tickers=pd.Series(tech_finance)
formatted_tickers=tickers.str.split(',')

In [24]:
formatted_tickers[0]

['GOOG', 'APPL', 'AMZN']

In [21]:
formatted_tickers[0][0]

'GOOG'

In [27]:
# This can also be done as
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [42]:
messy_names=pd.Series(['andrew  ', 'bob;o', '   claire  ', '4'])
messy_names

0       andrew
1          bob;o
2       claire
3              4
dtype: object

In [48]:
# Replacing semi-colon, removing spaces and capitalizing
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
3         4
dtype: object

In [49]:
# The other method.
def cleanup(name):
    name=name.replace(';', '')
    name=name.strip()
    name=name.capitalize()
    return name

messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
3         4
dtype: object