In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('../Docs/DATA/Advertising.csv')
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [3]:
X = df.drop('sales', axis=1)
y = df['sales']

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler=StandardScaler()

In [8]:
scaler.fit(X_train)

StandardScaler()

In [9]:
X_train=scaler.transform(X_train)

In [10]:
X_test=scaler.transform(X_test)

In [13]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import Ridge

In [24]:
model = Ridge(alpha=100)

In [25]:
scores =cross_validate(
    model, X_train, y_train, 
    scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'], 
    cv=10
)

In [26]:
scores=pd.DataFrame(scores)
scores.mean()

fit_time                        0.002899
score_time                      0.002074
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [27]:
# Improving model
model = Ridge(alpha=1)
scores =cross_validate(
    model, X_train, y_train, 
    scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'], 
    cv=10
)
scores=pd.DataFrame(scores)
scores.mean()

fit_time                        0.002745
score_time                      0.002165
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [28]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [29]:
y_final_pred=model.predict(X_test)

In [31]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_final_pred)

2.3190215794287514