In [1]:
import pandas as pd
import numpy as np

In [6]:
# index_col=0 is for changin column zero to index
df=pd.read_csv('./Docs/03-Pandas/example.csv', index_col=0)
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [9]:
# index=True to save index as well.
df.to_csv('./Outputs/csv_files_testing.csv')